<div class="content">

<div class="card mt-3 tab1">
    <div class="card-header bg-primary text-white display-6">Informations du stagiaire</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Version</th>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Date de naissance</th>
                    <th>Niveau d'étude </th>
                    <th>Ordinateur</th>
                    <th>Filiere</th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<div class="card mt-3 tab2">
    <div class="card-header bg-primary text-white display-6">Matières à venir</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Version</th>
                    <th>Libellé</th>
                    <th>Quest</th>
                    <th>Filiere</th>
                    <th>Formateur</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let matiere of list()">
                    <td>{{matiere.id}}</td>
                    <td>{{matiere.version}}</td>
                    <td>{{matiere.libelle}}</td>
                    <td>{{matiere.quest}}</td>
                    <td>{{matiere.filiere?.id}} - {{matiere.filiere?.libelle}}</td>
                    <td>{{matiere.formateur?.id}} - {{matiere.formateur?.nom}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>